body {
  margin: 0;
}
.header {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(204, 150, 69);
  color: rgb(160, 47, 47);
}
.nav {
  float: left;
  margin-left: 5%;
  width: 10%;
  background: black;
  color: white;
}
.section {
  float: left;
  width: 70%;
  background: rgb(118, 197, 43);
}
.aside {
  float: left;
  width: 10%;
  background: rgb(199, 113, 15);
}
.nav,
.section,
.aside {
  height: 500px;
}
.footer {
  clear: both;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(204, 150, 69);
  color: rgb(160, 47, 47);
}
